.slick_slider {
  height: 600px;
  overflow-y: hidden;
  //img {
  //  height: auto;
  //  max-height: 600px;
  //  width: 100%;
  //  border: 6px solid $white;
  //}
  .slide_thumb {
    height: 600px;
    width: 100%;
  }
}

.slide_thumb {
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px solid $white;
}

.slider_arrow {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 300px;
  z-index: 1000;
  @include transition();
  &.left {
    background: url('../images/arrow-left.png') no-repeat;
    background-size: contain;
    left: 30px;
    &:hover {
      background-image: url('../images/arrow-left-hover.png');
    }
  }
  &.right {
    background: url('../images/arrow-right.png') no-repeat;
    background-size: contain;
    right: 30px;
    &:hover {
      background-image: url('../images/arrow-right-h.png');
    }
  }
}

.slider_nav {
  margin-top: 30px;
  .slick-slide {
    outline: none !important;
  }
  img {
    border: 6px solid $white;
  }
}