body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  color: $fontBlack;
}

h1,h2,h3,h4,h5 {
  font-family: $mediumFont;
  font-weight: 500;
}

h3 {
  font-size: $h3FontSize;
  font-family: $mediumFont;
}

p {
  font-weight: 400;
}


.medium_text {
  font-size: $navFontSize;
  font-family: $mediumFont;
  color: $fontAccentColor;
  font-weight: 400;
}

.page_title {
  font-size: $h3FontSize;
  color: $fontAccentColor;
  text-transform: uppercase;
  font-family: $mediumFont;
  font-weight: 700;
  line-height: 1.5;
}
