// colors
$grayColor: #e8e5e2;
$fontBlack: #3a3a39;
$fontAccentColor: #634d40;
$transparent: transparent;
$white: #ffffff;
// fonts
$baseFontSize: 14px;
$h3FontSize: 21px;
$navFontSize: $baseFontSize + 1;

$baseFont: 'roboto-regular';
$mediumFont: 'fedra-sans-pro';


$defaultTransitionDuration: 0.2s;

$footerHeight: 55px;